rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn() && request.auth.token.email == "admin@thesignal.app";
    }

    match /posts/{postId} {
      allow read: if isSignedIn();
      allow create, update, delete: if isAdmin();
    }

    match /invites/{code} {
      allow get: if true;
      allow list: if false;
      allow create, update, delete: if isAdmin();
    }

    match /users/{userId} {
      allow read, write: if isSignedIn() && request.auth.uid == userId;

      match /reflections/{postId} {
        allow read, write: if isSignedIn() && request.auth.uid == userId;
      }
    }
  }
}
